@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* =======================================
General Styling
======================================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Work Sans", sans-serif;
  color: #f1f1f1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* =======================================
Navbar
======================================= */
.navbar {
  z-index: 100;
  backdrop-filter: blur(10px) !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
  transition: 350ms cubic-bezier(0.65, 0, 0.35, 1);
  padding: 0 250px;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
}

.navbar.scrolled {
  background-color: rgba(235, 230, 230, 0.4);
  color: #222;
}

.navbar.scrolled #brand {
  color: #f1f1f1;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-link {
  color: white;
}
#brand {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  transition: 350ms cubic-bezier(0.65, 0, 0.35, 1);
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 4rem;
  }
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (max-width: 1280px) {
  .navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 4rem;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");



.packages {
  margin: 20px;
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #1e2321;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #f4f4f4;
}

h1,
h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 40px;
  border-top: 1px solid #f4f4f4;
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  color: #222;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 50px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.2);
}

.button1 {
  background-color: #00cc99;
  box-shadow: 0 0 10px 0 #00cc99 inset, 0 0 20px 2px #00cc99;
}

.button2 {
  background-color: #ff007c;
  box-shadow: 0 0 10px 0 #ff007c inset, 0 0 20px 2px #ff007c;
}

.button3 {
  background-color: #ffae42;
  box-shadow: 0 0 10px 0 #ffae42 inset, 0 0 20px 2px #ffae42;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;

  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #50bfe6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50bfe6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
